<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Suite相关设置，这里paraller是执行的模式，有tests classes methods三种取值，thread-count表示两个线程执行用例 -->  
<suite name="Suite" parallel="tests" thread-count="2">  
  <test name="Test">  
      <parameter name="Browser" value="Firefox" />  
      <classes>  
            <class name="testngtestrefer.TestCrossBrowser"/>  
      </classes>  
  </test>   
  <test name="Test1">  
      <parameter name="Browser" value="chrome" />  
      <classes>  
            <class name="testngtestrefer.TestCrossBrowser"/>  
      </classes>  
  </test>   
<!-- tests:TestNG 会在相同的线程中运行相同<test>标记下的所有方法，但是每个<test>下的方法会运行在不同的线程下。应用：可以将类放在同一个<test>标签下，并且使其可以利用TestNG多线程的特性的同时，让这些类运行在相同的线程中 -->
<!-- methods:TestNG 会在不同的线程中运行测试方法，除了那些互相依赖的方法。那些相互依赖的方法会运行在同一个线程中，并且遵照其执行顺序 -->
<!-- classes:TestNG 会在相同线程中相同类中的运行所有的方法，但是每个类都会用不同的线程运行,属性 thread-count 允许你为当前的执行指定可以运行的线程数量。-->   
</suite>   